.gradle/
build/
!gradle-wrapper.jar
!gradle-wrapper.properties
.idea/
*.iml
*.ipr
*.iws
out/
.classpath
.project
.settings/
bin/
.vscode/
.DS_Store
Thumbs.db
android/build/
core/build/
desktop/build/
html/build/
ios/build/
lwjgl3/build/
*.bak
*.bkup
*.backup
*.tmp
*.temp
*.swp
*.swo
*.txt
*.zip
*~
*.log
*.class
*.jar
*.war
*.ear
